body {
	
	font-family: "Courier New", Times, serif;
	color: #06f906;
	width: 100%;
	height: 100%;
	background-color: #006600;
}

select {
	width: 120px;
}

div {
    margin:auto;
    text-align: center;
}

div#timer {
	width: 70px;
	display: inline-block;
}

#wrapper {
	width: 700px;
	height: 600px;
	background-color: blue;
	border: 5px solid black;
	border-radius: 20px;
	background-image: radial-gradient(green, black);
	margin-top: 5px;
	padding-top: 15px;
}

#menu {
	padding: 10px;
	padding-bottom: 30px;
	margin-left: 0px;
	margin-right: 0px;
	
	
}

#minefield {
	padding: 15px;
	padding-top: 0px;
}
h1 {
	padding: 15px;
	background-color: 	#00cc00;
	background-image: linear-gradient(#003300, #00ff00, #003300);
	color: #2be21b;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    text-align: center;
	margin-left:100px;
	margin-right: 100px;
	border: 5px solid black;
	border-radius: 20px;
	font-family: Impact, "Times New Roman", serif;
}

/* Tile properties */
.tile {
    width: 16px;
    height: 16px;
    float: left;
    background-image: url("../images/clear.png");
}

.hidden {
    background-image: url("../images/hidden.png");
}

.flag {
    background-image: url("../images/flag.png");
}

.mine {
    background-image: url("../images/mine.png");
}
.mine_hit {
    background-image: url("../images/mine_hit.png");
}
.mine_marked {
    background-image: url("../images/mine_marked.png");
}

.tile_1 {
    background-image: url("../images/tile_1.png");
}
.tile_2 {
    background-image: url("../images/tile_2.png");
}
.tile_3 {
    background-image: url("../images/tile_3.png");
}
.tile_4 {
    background-image: url("../images/tile_4.png");
}
.tile_5 {
    background-image: url("../images/tile_5.png");
}
.tile_6 {
    background-image: url("../images/tile_6.png");
}
.tile_7 {
    background-image: url("../images/tile_7.png");
}
.tile_8 {
    background-image: url("../images/tile_8.png");
}

.smiley {
    margin:auto;
    width: 26px;
    height: 26px;
    background-image: url("../images/face_up.png");
}
.face_down {
    background-image: url("../images/face_down.png");
}
.face_limbo {
    background-image: url("../images/face_limbo.png");
}
.face_lose {
    background-image: url("../images/face_lose.png");
}
.face_win {
    background-image: url("../images/face_win.png");
}

